html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color:#FEFFFF;
    font-family: 'Roboto', sans-serif;
}

/* Navbar Start */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3AAFA9; 
    padding: 0px 40px;
    color:#FEFFFF;
}

.navbar ul {
    list-style-type: none; 
    display: flex;         
    flex-direction: row;
    gap: 15px;
}

.navbar li h3{
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar li h3:hover {
    color:#2B7A78;
}
/* Navbar End */

/* Social (For Navbar and Footer) */
.social {
    display: flex;
    flex-direction: row;
    gap:12px;
}

.icon-container {
    background-color: #3AAFA9; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 25px;
    height: 25px;
}

.icon-container:hover {
    background-color:  #2B7A78;
}
/* Social End */

/* Intro Start */
.intro {
    background-color: #DEF2F1; 
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.profile-picture {
    border-radius: 50%; 
    width: 275px;
    height: 275px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.intro-text {
    text-align: left;
}

.intro-text h4{
    color: blue;
    font-size:28px;
    font-weight: 500;
    line-height: 0.6; 
}

.intro-text h3{
    color: #17252A;
    font-size: 34px;
    font-weight: 500; 
    line-height: 0.6; 
}

.intro-text p{
    color: #17252A;
    font-size: 20px;
    line-height: 0.8; 
}
/* Intro End */

/* About Start */
.about {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #FEFFFF;
    margin: 0px auto;
    max-width: 100vw; 
}
  
.about-title h2 {
    font-size: 36px;
}
  
.about-text p {
    color: #666; 
    line-height: 1.6;
    margin-bottom: 16px;
}
/* About End */


/* Gallery Start */
.gallery {
    padding: 40px 20px;
    background-color: #FEFFFF;
    margin: 20px auto;
    width: 85%; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.gallery-title h2 {
    font-size: 36px;
}
  
.row-gallery{
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-bottom: 20px;
}
  
.img-gallery {
    width: calc(50% - 15px); 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
/* Gallery End */

/* Contact Start */
.contact {
    padding: 40px 20px;
    background-color: #FEFFFF;
    margin: 20px auto;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
/* Contact Start */
.contact-title h3 {
    font-size: 32px;
    margin-bottom: 15px;
}
  
.contact-info {
    margin-top: 20px;
}
/* Contact End */

/* Footer Start */
.footer {
    margin: 0 auto;
    padding: 30px 50px;
    background-color: #17252A; 
    color: #FEFFFF; 
}

.footer-title h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
/* Footer End */

/* Adjustments For Smartphone */
@media only screen and (max-width: 600px) {
    .intro {
        flex-direction: column;
        padding: 50px 30px;
    }

    .profile-picture {
        width: 240px;
        height: 240px;
        margin-bottom: 15px; 
        margin-top: 17px;
    }

    .intro-text h4 {
        font-size: 22px;
        line-height: 0.3;
    }

    .intro-text h3 {
        font-size: 28px;
        line-height: 0.3;
    }

    .intro-text p {
        font-size: 18px;
        line-height: 1.3; 
    }

    .about {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* Adjustments For Tablet */
@media only screen and (max-width: 992px) and (min-width: 600px)
{
    .intro {
        padding: 50px 30px;
    }

    .profile-picture {
        width: 250px;
        height: 250px;
        margin-bottom: 15px; 
        margin-top: 17px;
    }

    .intro-text h4 {
        font-size: 23px;
        line-height: 0.4;
    }

    .intro-text h3 {
        font-size: 29px;
        line-height: 0.4;
    }

    .intro-text p {
        font-size: 19px;
    }

    .about {
        padding-left: 50px;
        padding-right: 50px;
    }
}


