html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    background-color:#FEFFFF;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

/* Navbar Start */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3AAFA9; 
    padding: 0px 40px;
    color:#FEFFFF;
    position: relative; /* To position the menu button */
}

.navbar-menu {
    display: flex; /* Display flex by default for non-mobile */
    align-items: center;
}

.navbar ul {
    list-style-type: none; 
    display: flex;         
    flex-direction: row;
    gap: 15px;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Horizontal layout for non-mobile */
    gap: 20px;
}

.navbar-menu li a {
    text-decoration: none; 
}

.scroll-button h3 {
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
    color:#FEFFFF;
    text-decoration: none; 
}

.navbar li h3:hover {
    color:#2B7A78;
}

/* Menu Button for Mobile */
.menu-toggle {
    display: none; /* Hidden by default */
    background-color: transparent;
    border: none;
    color: #FEFFFF;
    font-size: 24px;
    cursor: pointer;
}
/* Navbar End */

/* Social (For Navbar and Footer) */
.social {
    display: flex;
    flex-direction: row;
    gap:12px;
}

.icon-container {
    background-color: #3AAFA9; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    width: 25px;
    height: 25px;
}

.icon-container:hover {
    background-color:  #2B7A78;
}
/* Social End */

/* Intro Start */
.intro {
    background-color: #DEF2F1; 
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.profile-picture {
    border-radius: 50%; 
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.intro-text {
    text-align: left;
}

.intro-text h4{
    color: blue;
    font-size:28px;
    font-weight: 500;
    line-height: 0.6; 
}

.intro-text h3{
    color: #17252A;
    font-size: 34px;
    font-weight: 500; 
    line-height: 0.6; 
}

.intro-text p{
    color: #17252A;
    font-size: 20px;
    line-height: 0.8; 
}
/* Intro End */

/* About Start */
.about {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 60px;
    background-color: #FEFFFF;
    margin: 0px auto;
    max-width: 100vw; 
}
  
.about-title h2 {
    font-size: 36px;
    color: #17252A;
}

.about-images {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
  
.about-text p {
    color: #666; 
    line-height: 1.6;
    margin-bottom: 16px;
}
/* About End */

/* Contents Container Start */
.contents-container {
    background-color: #DEF2F1;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* Contents Container End */

/* Gallery Start */
.gallery {
    padding: 40px 20px;
    background-color: #FEFFFF;
    margin: 20px auto;
    width: 85%; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.gallery-title h2 {
    font-size: 36px;
    color: #17252A;
}
  
.row-gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px; 
    margin-bottom: 20px;
}

.image-container {
    position: relative; 
    width: calc(50% - 15px); 
    margin: 0; 
    overflow: hidden; 
}

.img-gallery {
    width: 100%; 
    height: 100%;
    display: block; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, filter 0.4s ease; 
}

.image-container:hover .img-gallery {
    filter: blur(5px); 
    transform: scale(1.05); 
}

.overlay-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #FEFFFF;
    font-size: 30px; 
    font-weight: 600; 
    text-align: center; 
    opacity: 0; 
    transition: opacity 0.4s ease; 
}

.image-container:hover .overlay-text {
    opacity: 1; 
}
/* Gallery End */

/* Contact Start */
.contact {
    padding: 60px 20px;
    padding-bottom: 100px;
    background-color: #FEFFFF;
    margin: 20px auto;
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.contact-title h3 {
    font-size: 36px;
    margin-bottom: 15px;
    color: #17252A;
}

.contact-title a {
    color: #666; 
}

.contact-title h4 {
    color: #666; 
}
  
.contact-info {
    margin-top: 20px;
}

.contact-info ul {
    list-style: none; 
    padding: 0; 
    text-align: center; 
}

.contact-info li {
    display: flex;
    align-items:center;
    margin: 10px 0; 
    font-size: 18px; 
}

.contact-info a {
    text-decoration: none; 
    color: #0066cc; 
    font-weight: 500; 
}

.contact-info a:hover {
    color: #004080; 
}

.contact-icon {
    width: 32px; 
    height: 32px; 
    margin-right: 5px;  
}

#email-icon {
    width: 42px; 
    height: 42px; 
    margin-right: 0px;
}

#line {
    color: #666; 
}

.send-message {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 60vw;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #DEF2F1;
}

.send-message h3{
    font-size: 36px;
    padding-bottom: 20px;
    color: #3AAFA9; 
}

#mail {
    width: 70px;
    height: 70px;
}

.contact-form {
    width: 50vw;
    margin: 0 auto;
    padding-top: 50px;
    color: #666; 
    display: flex;
    gap:15px;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.input-container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-container label {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.input-container input, 
.input-container textarea {
    border: none;
    border-bottom: 1px solid #666; 
    outline: none;
    padding: 8px 0;
    font-size: 16px;
    color: #666; 
    background-color: transparent;
    width: 100%;
    resize: none; 
}

.input-container input::placeholder, 
.input-container textarea::placeholder {
    color: #666;
    opacity: 1;
}

textarea {
    height: 100px; 
    line-height: 2; 
}

#final-form {
    padding-bottom: 30px;
}

.send-button {
    background-color: #FEFFFF;
    color:  #3AAFA9; 
    padding: 26px 74px;
    border-color:  #3AAFA9; 
    font-size: 20px;
    font-weight:600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    color: #FEFFFF;
    background-color: #2B7A78;
}

.studying-at {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    gap: 32px;
}

.studying-at h3{
    font-size: 20px;
    color: #17252A;
}

.univ-logo {
    width: 258px;
    height: 322px;
}
/* Contact End */

/* Footer Start */
.footer {
    margin: 0 auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #17252A; 
    color: #FEFFFF; 
}

.footer-title h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.copyright {
    text-align: left; 
    padding: 20px 0; 
    color: #666; 
    font-size: 16px; 
}

.copyright a {
    text-decoration: none; 
    color: inherit; 
    font-weight: normal; 
}
/* Footer End */

/* Adjustments For Smartphone */
@media only screen and (max-width: 600px) {
    .navbar li h3:hover {
        color: #3AAFA9; 
    }

    .navbar-menu, .social {
        display: none; 
        flex-direction: column;
        align-items: left;
        position: relative;
        top: 60px; 
        background-color: #2B7A78;
        padding: 12px;
    }

    .navbar-menu ul {
        flex-direction: column; 
        gap: 0px;
    }

    .menu-toggle {
        display: block; 
    }

    .navbar.open .navbar-menu, .navbar.open .social {
        display: flex; 
    }

    .icon-container:hover {
        background-color:  #17252A;
    }

    .intro {
        flex-direction: column;
        padding: 50px 30px;
    }

    .profile-picture {
        width: 240px;
        height: 240px;
        margin-bottom: 15px; 
        margin-top: 17px;
    }

    .intro-text h4 {
        font-size: 22px;
        line-height: 0.3;
    }

    .intro-text h3 {
        font-size: 28px;
        line-height: 0.3;
    }

    .intro-text p {
        font-size: 18px;
        line-height: 1.3; 
    }

    .about {
        padding-left: 30px;
        padding-right: 30px;
        padding-top:10px;
        padding-bottom: 30px;
    }

    .about-images {
        flex-direction: column;
    }

    #abt-img {
        width: 100%;
    }

    .contents-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .row-gallery {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
    }

    .img-gallery {
        display: flex;
        width: 100%;
    }

    .send-message {
        padding-top: 40px;
        padding-bottom: 20px;
        width: 80vw;
    }

    .contact-form {
        padding-top: 16px;
        width: 70vw;
    }

    .form-group {
        flex-direction: column;
        gap: 15px;
    }
}

/* Adjustments For Tablet */
@media only screen and (max-width: 992px) and (min-width: 600px)
{
    .intro {
        padding: 50px 30px;
    }

    .profile-picture {
        width: 250px;
        height: 250px;
        margin-bottom: 15px; 
        margin-top: 17px;
    }

    .intro-text h4 {
        font-size: 23px;
        line-height: 0.4;
    }

    .intro-text h3 {
        font-size: 29px;
        line-height: 0.4;
    }

    .intro-text p {
        font-size: 19px;
    }

    .about {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 12px;
        padding-bottom: 40px;
    }

    .contents-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .send-message {
        padding-top: 60px;
        padding-bottom: 30px;
        width: 80vw;
    }

    .contact-form {
        padding-top:26px;
        width: 70vw;
    }
}


